@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,400;1,300&display=swap');

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-size: 16px;
  font-family: 'Roboto', sans-serif;

}


.appContainer{
  height: 100vh;
  margin-left: 1rem;
  margin-right: 1rem;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.header{
  height: 10vh;
  display: flex;
  justify-content: space-between;
  width: 100%;
  margin-bottom: 1rem;
}

.headerTitleContainer{
  width: 90%;
  display: flex;
  align-items: center;
}

.headerTitle{
  font-size: 3rem;
}

.footer{
  width: 100%;
  height: 100%;
  margin-top: 1rem;
  display: flex;
  align-items: center;
  justify-content: space-between;
  border-radius: 10px;
  margin-bottom: 1rem;
}